header {
    background: rgb(0,18,36);
    background: linear-gradient(90deg, rgba(0,18,36,1) 0%, rgba(0,212,255,1) 0%, rgba(8,94,134,1) 54%, rgba(9,88,121,1) 100%);
}

li {
    padding: 10px;
    text-decoration: underline;
}